<!-- Personal info -->
<section id="personal">
  <div class="text">
    <h1>Hi, I'm Jacob</h1>
    <p>
      I'm a Front-End Web Developer and professional Designer who is addicted to
      learning and loves working with people. I live by the motto Learn Build
      Teach, so I’m excited to share the things I learn with you!
    </p>
    <div class="icons">
      <a class="icon" href="#">
        <span class="material-icons"> facebook </span>
      </a>
      <a class="icon" href="#">
        <span class="material-icons"> play_circle_filled </span>
      </a>
      <a class="icon" href="#">
        <span class="material-icons"> facebook </span>
      </a>
    </div>
  </div>
  <div class="pro-pic">
    <img src="assets/images/portrait.jpg" alt="" />
  </div>
</section>
<!-- end of personal info -->
<!-- YouTube channel info -->
<section id="youtube">
  <div class="text">
    <h1>I am a <span>Youtuber</span></h1>
    <p>
      I've been creating YouTube videos for about 4 months. I create weekly
      videos on Web Development.
    </p>
  </div>
  <section class="videos">
    <div class="vid-one">
      <a href="#" target="_blank">
        <img src="assets/images/Website-Bundle-mini.jpg" alt="project" />
        <h3>Video Title</h3>
      </a>
    </div>

    <div class="vid-two">
      <a href="#" target="_blank">
        <img src="assets/images/Website-Bundle-mini.jpg" alt="project" />
        <h3>Video Title</h3>
      </a>
    </div>

    <div class="vid-three">
      <a href="#" target="_blank">
        <img src="assets/images/Website-Bundle-mini.jpg" alt="project" />
        <h3>Video Title</h3>
      </a>
    </div>
  </section>
</section>
<!-- end of youtube info -->

<!-- Teaching info -->
<section id="teaching">
  <div class="text">
    <h1>I Love <span>Teaching</span></h1>
    <p>
      I really love teaching, I create articles and videos to help others learn
      and understand quickly and prepare them for their final exams while
      developing their skills to get them ready for their first job.
    </p>
  </div>
  <section class="posts">
    <div class="post">
      <div class="post-cover">
        <a href="#" target="_blank">
          <img src="assets/images/Website-Bundle-mini.jpg" alt="project" />
        </a>
      </div>
      <div class="single-post">
        <a href="#">
          <h3 class="post-title">Post Title</h3>
        </a>
        <p class="post-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis
          veritatis ratione alias dolorum reprehenderit iusto, perspiciatis
          accusamus facilis officiis, deserunt earum ab optio obcaecati dolore
          repellat impedit! At, deleniti! Nam iure nisi iste! Illo, ex enim
          quod, nulla possimus tempore consequatur ab inventore cupiditate natus
          magni corporis totam quaerat iure.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </div>

    <div class="post">
      <div class="post-cover">
        <a href="#" target="_blank">
          <img src="assets/images/Website-Bundle-mini.jpg" alt="project" />
        </a>
      </div>
      <div class="single-post">
        <a href="#">
          <h3 class="post-title">Post Title</h3>
        </a>
        <p class="post-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis
          veritatis ratione alias dolorum reprehenderit iusto, perspiciatis
          accusamus facilis officiis, deserunt earum ab optio obcaecati dolore
          repellat impedit! At, deleniti! Nam iure nisi iste! Illo, ex enim
          quod, nulla possimus tempore consequatur ab inventore cupiditate natus
          magni corporis totam quaerat iure.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </div>
    <div class="post">
      <div class="post-cover">
        <a href="#" target="_blank">
          <img src="assets/images/Website-Bundle-mini.jpg" alt="project" />
        </a>
      </div>
      <div class="single-post">
        <a href="#">
          <h3 class="post-title">Post Title</h3>
        </a>
        <p class="post-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis
          veritatis ratione alias dolorum reprehenderit iusto, perspiciatis
          accusamus facilis officiis, deserunt earum ab optio obcaecati dolore
          repellat impedit! At, deleniti! Nam iure nisi iste! Illo, ex enim
          quod, nulla possimus tempore consequatur ab inventore cupiditate natus
          magni corporis totam quaerat iure.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </div>
  </section>
</section>
<!-- end of teaching info -->
<!-- </div> -->
