h1 {
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  padding: 0.5rem;
  border: 1px solid green;
  color: green;
  border-radius: 5px;

  &:hover {
    color: #000;
    border: 1px solid #000;
  }
}

#personal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

  .text {
    padding: 10px;
    margin: 5px;
    .icons > .icon {
      color: green;
      border-radius: 50%;
      padding: 5px;
      margin: 5px;
    }
  }
  .pro-pic {
    margin: 5px;

    img {
      border: 3px solid green;
      border-radius: 50%;
    }
  }
}

// end personal =============================================

// start youtube
#youtube {
  margin: 5px;

  .text {
    margin-top: 20px;
  }
  .videos {
    display: grid;
    grid-template-areas: "vid-1 vid-2 vid-3";
    gap: 5px;
    a img {
      width: 23vw;
      border-radius: 5px;
    }
    .video-one {
      grid-area: vid-1;
    }
    .video-two {
      grid-area: vid-2;
    }
    .video-three {
      grid-area: vid-3;
    }
  }
}
// Start Teaching
#teaching {
  margin: 5px;

  .text {
    margin-top: 20px;
  }

  .post {
    display: flex;
    margin-top: 10px;
    .single-post {
      padding-left: 20px;
      margin-top: -20px;

      .post-body {
        margin-bottom: 1.5rem;
      }
    }
    img {
      // width: 350px;
      width: 25vw;
      border-radius: 5px;
    }
  }
}

/* Media Query Mixins */

@media screen and (max-width: 680px) {
  #personal .pro-pic {
    display: none;
  }
  #teaching .post {
    flex-direction: column;
    .single-post {
      padding: 0;
    }
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  #youtube .videos {
    grid-template-areas:
      "vid-1"
      "vid-2"
      "vid-3";
    a img {
      width: 100%;
    }
  }
  #teaching .post {
    img {
      width: 100%;
    }
  }
}
